
.mainContainer{
    margin: auto;
    width: max-content;
    margin-top: 2%;
}
.container1 img, .container2 img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    border: 4px solid black;
    margin: 5px;
}
#img1{
    border-bottom-right-radius: 40px;
}
#img2{
    border-bottom-left-radius: 40px;
}
#img3{
    border-top-right-radius: 40px;
}
#img4{
    border-top-left-radius: 40px;
}